   
         <!-- Hidden Settings Panel -->
         <div data-role='panel' id='settings' data-theme='b'>
                 <ul data-role="listview">
                     <li data-role="list-divider">Menu</li>
                     <li data-icon="coffee"><a href="#">Search</a></li>
                     <li data-icon="beer"><a href="#">Scan</a></li>
                     <li data-icon="music"><a href="#">Collections</a></li>
                     <li data-icon="fire"><a href="#">Recently Viewed</a></li>
                     <li data-role="list-divider">Settings</li>
                     <li data-icon="trophy"><a href="#">Account</a></li>
                     <li data-icon="group"><a href="#">Log Out</a></li>
            </ul>
         </div>